@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.inner {
    width: 100%;
    max-width: 192rem;
    min-width: 32rem;
    margin: 0 auto;
    height: inherit;
    padding: 0 30rem;

}

.fl {
    float: left;
}

.fr {
    float: right;
}


header{
    padding: 2rem 0;
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0.1rem);

}

nav {
    display: flex;
    justify-content: space-between;
}

nav #logo {
    width: 7rem;
    height: 7rem;
}



nav ul {
    display: flex;
}

nav ul li {
    display: flex;
    padding: 1.2rem 2.4rem;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

/* header */
.banner {
    width: 100%;
    height: 100%;
    padding-bottom: 22.2rem;
}

.banner .inner {
    display: flex;
}

.banner .main_text {
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 178px;
    padding-right: 136px;

}


.banner .main_text h2 {
    color: var(--gray-900, #132238);
    font-family: Work Sans;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 8.4rem;
    position: relative;
}

.banner .main_text h2::before {
    content: '';
    width: 24rem;
    height: 5.8rem;
    position: absolute;
    top: 1.5rem;
    background: #FFC8C8;
    mix-blend-mode: multiply;
}

.banner .main_text>p {
    width: 648px;
    color: var(--gray-900, #132238);
    font-family: Work Sans;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 84px;
    padding: 24px 0
}

.banner .main_text>p span {
    position: relative;
}

.banner .main_text>p span::before {
    content: '';
    width: 18.8rem;
    height: 4.3rem;
    position: absolute;
    right: 1.0rem;
    bottom: 1.3rem;
    background: #FFC8C8;
    mix-blend-mode: multiply;
}

.banner .main_text .main_button {
    display: flex;
    gap: 24px;
}

.banner .main_text .main_button p {
    display: flex;
    padding: 1.2rem 2.4rem;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    border-radius: 0.4rem;
    background: var(--primary-500, #A53DFF);
}


.banner .main_text .main_button p a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.banner .banner_img {
    width: 536px;
    height: 636px;
    flex-shrink: 0;
    border-radius: 25px;
    box-shadow: 0px 24px 116px 0px rgba(43, 56, 76, 0.09);
    margin-top: 126px;
    position: relative;
    background: #fff;
}

.banner .banner_img::before {
    position: absolute;
    content: '';
    width: 87.1213rem;
    height: 87.1213rem;
    transform: rotate(-130.444deg);
    flex-shrink: 0;
    border-radius: 87.1213rem;
    background: rgba(218, 77, 241, 0.40);
    filter: blur(300px);
    top: -89rem;
    right: -59rem;
    z-index: -9999;

}

.banner .banner_img::after {
    content: '';
    position: absolute;
    width: 104.4316rem;
    height: 104.4316rem;
    transform: rotate(-130.444deg);
    flex-shrink: 0;
    border-radius: 104.4316rem;
    background: rgba(196, 245, 233, 0.70);
    filter: blur(300px);
    bottom: -58rem;
    right: -94rem;
    z-index: -9999;

}

/* banner */
.about_me {
    display: flex;
    height: 90.4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.about_me .content {
    display: flex;
    padding: 11.2rem;
    justify-content: center;
    align-items: center;
    gap: 13.6rem;
    border-radius: 16px;
    background: var(--gray-white, #FFF);
    box-shadow: 0px 36px 105px 0px rgba(43, 56, 76, 0.10);
    position: relative;
}

.about_me .content::before {
    content: '';
    width: 54.1rem;
    height: 22.6rem;
    transform: rotate(-30deg);
    flex-shrink: 0;
    border-radius: 54.1rem;
    background: linear-gradient(182deg, #FFDFA8 -157.44%, rgba(255, 226, 176, 0.96) -157.4%, rgba(255, 234, 198, 0.67) 216.94%, rgba(250, 211, 144, 0.80) 216.94%);
    filter: blur(100px);
    position: absolute;
    right: 117rem;
    bottom: 11rem;
    z-index: -9999;
}

.about_me .content::after {
    content: '';
    position: absolute;
    width: 148.1rem;
    height: 148.1rem;
    flex-shrink: 0;
    border-radius: 148.1rem;
    background: linear-gradient(182deg, rgba(255, 234, 198, 0.20) -157.44%, rgba(255, 234, 198, 0.14) 216.94%, rgba(255, 234, 198, 0.13) 216.94%);
    filter: blur(350px);
    z-index: -9999;
}

.about_me .content .l_img {
    flex-shrink: 0;
    border-radius: 10px;

}



.about_me .content .r_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.about_me .content .r_text>p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.about_me .content .r_text p span:first-child {
    color: var(--gray-900, #132238);
    /* Heading/01 */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 116.667% */
}

.about_me .content .r_text p span:last-child {
    color: var(--gray-600, #556070);
    /* Body/Large/600 */
    font-family: Noto Sans KR;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
}

.r_text .info {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}


.r_text dt {
    color: var(--gray-900, #132238);
    /* Heading/05 */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 16px;
    /* 120% */
}

.r_text dt::before {
    content: url(../img/icon/dot.svg);
    vertical-align: middle;
}

.r_text dd {
    padding: 0px 23px;
    padding-bottom: 8px;
}

/* about me */


.projects .inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8rem;
}

.projects h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 128px;
    line-height: 128px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}


.projects .project {
    display: flex;
    width: 132rem;
    padding: 7rem 0rem;
    justify-content: space-between;
    align-items: flex-start;
}

.project .l_img {
    width: 74.9rem;
    height: 56.7rem;
    flex-shrink: 0;
    position: relative;
}


.project .l_img img {
    position: absolute;
}

.project .l_img img.pc {
    display: flex;
    width: 69rem;
    height: 51.8rem;
    padding: 0.063rem 0.0451rem 0.063rem 0.0563rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
}

.project .l_img img.pc::before {}


.project .l_img img.pad {
    bottom: 0;
    left: -3.5rem;
}

.project .l_img img.phone {
    bottom: 0;
    right: 3rem;
}


.project .r_text {
    display: flex;
    height: 56.3rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.project .r_text .text_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1.2rem;
    padding-left: 4rem;
    position: relative;
}

.project .r_text.le .text_box {
    padding-right: 4rem;
}


.project .r_text .text_box p {
    display: flex;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
    color: var(--gray-100, #E6E8EB);
    /* Display */
    font-family: Work Sans;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 8.4rem;
    /* 116.667% */

}

.project .r_text .text_box p>span {
    color: var(--gray-900, #132238);
    font-family: Noto Sans KR;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    /* 66.667% */
}

.project .r_text .text_box>span {
    color: #556070;
    /* Body/Large/500 */
    font-family: Noto Sans KR;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.1rem;
    padding-bottom: 2rem;
    /* 172.222% */
}


.project .r_text .text_box ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
}

.project .r_text .text_box ul li::before {
    content: "•";
    margin-right: 1rem;
}

.project .r_text .text_box ul li {
    color: #556070;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
}


.text_box ul .icon_set img {
    padding-left: 16px;
}

.p_button {
    display: flex;
    padding-top: 40px;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}




.p_button {
    display: flex;
    padding-top: 40px;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}

.p_button a {
    display: flex;
    padding: 1.2rem 2.4rem;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid var(--primary-500, #A53DFF);
    background: var(--gray-white, #FFF);
    color: var(--primary-500, #A53DFF);
    font-family: Work Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
}

.p_button a:hover {
    background-color: #A53DFF;
    color: #fff;
    transition: all .5s;
}

.p_button a img {
    width: 2.4rem;
    height: 2.4rem;
    fill: rgba(0, 0, 0, 0.00);
}


/* .project .ri_img {
    display: flex;
    width: 74.9rem;
    height: 56.7rem;
    padding: 0rem 22.6rem 0rem 22.7rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.project .ri_img img {
    width: 29.6rem;
    height: 59.2rem;
    flex-shrink: 0;
} */
.project.mobile {
    align-items: center;
}

.figma {
    position: relative;
    margin: auto;
    width: 478px;
    height: 978px;
    background: url(../img/phone.png)no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.crop {
    position: absolute;
    overflow: hidden;
    width: 430px;
    height: 932px;
    left: 23px;
    top: 22px;
    border-radius: 60px;
}

.crop iframe {
    display: block;
    position: absolute;
    width: 430px;
    height: 935px;
    overflow: hidden;
}

.project:last-child {
    position: relative;
    margin-bottom: 10rem;
}

.project:last-child:after {
    position: absolute;
    content: '';
    width: 87.9209rem;
    height: 87.703rem;
    transform: rotate(-130.374deg);
    flex-shrink: 0;
    border-radius: 87.9209rem;
    background: rgba(218, 77, 241, 0.40);
    filter: blur(250px);
    z-index: -9999;
    top: -35rem;
    left: -110rem;
}



/* projects */

.skill {
    background: var(--gray-50, #F0F1F3);
    padding-bottom: 15rem;
}

.skill .inner {
    padding: 15rem 30rem 12rem 30rem;
}

.skill .inner .box {
    display: flex;
    width: 192rem;
    height: 55rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.skill .tit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
}

.skill .tit h3 {
    color: #333;
    font-family: Noto Sans KR;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.6rem;
}

.skill .tit p {
    color: var(--gray-400, #87909D);
    font-family: Noto Sans KR;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 350;
    line-height: 2.4rem;
}

.skill .skill_bar {
    display: flex;
    width: 131.7rem;
    justify-content: space-between;
    align-items: flex-end;
}

.skill .skill_bar .coding {
    display: flex;
    width: 75.6rem;
    align-items: center;
    gap: 4.8rem;
    flex-shrink: 0;
}

.skill .skill_bar .design {
    display: flex;
    width: 35.8rem;
    align-items: center;
    gap: 5rem;
    flex-shrink: 0;

}

.skill .skill_bar .chart {
    display: flex;
    width: 8.6rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    flex-shrink: 0;
    align-self: stretch;

}

.chart .bar_box {
    position: relative;
    width: 24.9rem;
    height: 2.1rem;
    transform: rotate(-90deg);
    fill: var(--gray-100, #E6E8EB);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
}


.chart .bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #B764FF;
    width: 0;
    box-shadow: (2px 3px 4px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
}

.chart .text_box {
    position: absolute;
    top: 0;
    transform: rotate(90deg);
    bottom: 0;
    right: -12rem;
    text-align: center;
    display: flex;
    width: 5.4rem;
    flex-direction: column;
    align-items: center;
}

.chart .text_box p {
    color: var(--gray-500, #697484);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
}

.chart .text_box .rate {
    color: var(--gray-700, #424E60);
    text-align: center;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
}

/* skill */

.design_projects {
    display: flex;
    height: 90rem;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}

.design_projects .content::after {
    content: '';
    position: absolute;
    right: 140rem;
    top: 54rem;
    width: 54.3149rem;
    height: 22.8682rem;
    transform: rotate(-29.806deg);
    flex-shrink: 0;
    border-radius: 54.3149rem;
    background: linear-gradient(182deg, #FFDFA8 -157.44%, rgba(255, 226, 176, 0.96) -157.4%, rgba(255, 234, 198, 0.67) 216.94%, rgba(250, 211, 144, 0.80) 216.94%);
    filter: blur(100px);
    z-index: -999;
}

.design_projects .content::before {
    content: '';
    position: absolute;
    left: 114rem;
    top: 20rem;
    width: 105.3899rem;
    height: 105.1288rem;
    transform: rotate(-130.374deg);
    flex-shrink: 0;
    border-radius: 105.3899rem;
    background: rgba(196, 245, 233, 0.70);
    filter: blur(300px);
    z-index: -999;
}

.design_projects .content {
    display: flex;
    padding: 10rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    position: relative;
    top: -2.8rem;
    background: var(--gray-white, #fff);
    box-shadow: 0px 59px 124px 0px rgba(0, 0, 0, 0.12);
}

.design_projects .content .tit_wrap {
    display: flex;
    width: 48.1rem;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.design_projects .content .tit_wrap .tit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    align-self: stretch;
}

.design_projects .content .tit p {
    color: var(--gray-900, #132238);
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.6rem;
}

.design_projects .content .tit span {
    color: var(--gray-400, #87909D);
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 350;
    line-height: 2.4rem;
}

.design_projects .content .img_wrap {
    display: flex;
    padding: 0rem 9rem;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

.img_wrap .img_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    border: 1px solid var(--gray-50, #F0F1F3);
    background: var(--gray-white, #FFF);
}

.img_wrap .img_box .mokup {
    display: flex;
    width: 50rem;
    height: 40rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img_wrap .img_box .mokup .img {
    width: 50rem;
    height: 40rem;
    flex-shrink: 0;
    border-radius: 0.8rem;
    color: #C4C4C4;
    position: relative;
}

.img_wrap .img_box .mokup .img img {
    width: 100%;
    height: 100%;
}

.img_wrap .img_box .mokup .img .bo_text {
    display: flex;
    width: 50rem;
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    position: absolute;
    bottom: 0;
    background: var(--primary-400, #B764FF);
    mix-blend-mode: hard-light;
}

/* .design_projects {
    display: none;
} */

footer {
    background-color: #2B384C;
    display: flex;
    padding: 10rem 0rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

footer::after {
    content: '';
    position: absolute;
    width: 148.1rem;
    height: 148.2rem;
    flex-shrink: 0;
    border-radius: 148.2rem;
    background: linear-gradient(182deg, rgba(255, 234, 198, 0.20) -157.44%, rgba(255, 234, 198, 0.14) 216.94%, rgba(255, 234, 198, 0.13) 216.94%);
    filter: blur(350px);
    z-index: -99;
}


footer .top_text {
    display: flex;
    padding: 3rem 0rem 5rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

footer .top_text p {
    color: #FFF;
    font-family: Noto Sans KR;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
}

footer .top_text span {
    color: #FFF;
    font-family: Noto Sans KR;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
}

footer .top_text .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

footer .top_text .tell {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

}

footer .copyright {
    display: flex;
    height: 12rem;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}

footer .copyright>span {
    color: var(--gray-white, #FFF);
    font-family: Noto Sans KR;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 350;
    line-height: 2.4rem;
}

footer .copyright .logo {
    width: 7rem;
    height: 7rem;
}



#lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    display: none;
    z-index: 99999999;
}

#lightImage {
    left: 50%;
    background: white;
    position: fixed;
    transform: translateX(-50%);
    width: 80%;
    height: 80vh;
    top: 100px;
    overflow-y: auto;
    z-index: 999999999;
}

.all_scrollFixed {
    overflow: hidden;
}